<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .color-48e{
            color: #48e;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}


    <h1 class="color-48e">Hola mundo DJango. Con plantilla ahora</h1>

    {# Esto es un comentario de una linea #}
    {% comment %}
        Esto es un comentario de
        varias lineas.
        aaa
        aaa
        aa

    {% endcomment %}

    {% if NombreCompleto == 'Santiago Sanchez' %}
        <p>El profesor es el titular</p>
    {% else %}
        <p>El profesor es el suplente</p>
    {% endif %}

    <p>El profesor es: {{Nombre.upper}} {{Apellido.upper}}</p>
    <p>Estamos viendo esto a dia: {{Actual.day}} / {{Actual.month}} / {{Actual.year}} </p>

    <p><strong>Temas del curso:</strong></p>
    <!--<p>{{Temas.0}}</p>
    <p>{{Temas.1}}</p>
    <p>{{Temas.2}}</p>
    <p>{{Temas.3}}</p>
    <p>{{Temas.4}}</p>-->
    <p>
        <ul>
            {% if Temas %}
                {% for tema in Temas %}

                <li>{{tema}}</li>

                {% endfor %}
            {% else %}
                <p>No hay temas de estudio cargados</p>
            {% endif %}
        </ul>
    </p>
    <p>
        {% for tema in Temas %}
            {{tema}}
        {% endfor %}
    </p>
</body>
</html>